@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import "utils";

:root {
  --base-light: #e0e0e0;
  --base-dark: #303030;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  * {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: var(--base-light);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--app-palette-light);
      border-radius: 5px;
    }
  }
}

#root-layout {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
